.header {
    margin-top: 0px;
    box-sizing: border-box;
    height: 320px;
    width: 100%;
    color: white;
    background-color: navy;

    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* move content to bottom */
    align-items: center;       /* center horizontally */
    text-align: center;

    padding-bottom: 1px;
}

.header p {
    font-size: 14px;
    margin: 2px 0;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}input[type="text"],
input[type="dob"],
input[type="pob"],
input[type="email"],
input[type="password"],
input[type="date"] {
    border: none;
     border-bottom: 2px solid black;
    outline: none;
    width: 300px;
    padding: 5px;
}